*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
build/
local.properties
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
